.buttons {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 200px;
}

#cancel_btn{
    color: #fff;
    background-color: #9D9D9D;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: Pretendard-SemiBold;
    font-size: 18px;
}

#r_order_btn{
    color: #fff;
    background-color: #6A994E;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: Pretendard-SemiBold;
    font-size: 18px;
}

.totals {
    background-color: #FFE0C9;
    width: 350px;
    height: 60px;
    border-radius: 10px;
    font-family: Pretendard-Medium;
    font-size: 20px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    gap: 72px;
}

.products1 {
    background-color: #FFF8F3;
    width: 350px;
    height: 120px;
    border-radius: 10px;
    font-family: Pretendard-SemiBold;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
}

#product_count2{
    width: 20%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    align-content: center;
}

.products2 {
    color: #40200F;
    margin: 0 3%;
    position: relative;
}

#product_count2_txt {
}

.product_div3{
    display: flex;
    margin-right: 3px;
}