.title_div {
    text-align: center;
    height: 80px;
    border-bottom: 2px solid #ADC178;
    justify-content: center;
    display: flex;
    align-items: center;
}

#title_text {
    font-family: Pretendard-Bold;
    font-size: 35px;
    color: #604E43;
}

#choice_text1 {
    font-family: Pretendard-SemiBold;
    font-size: 25px;
    color: #40200F;
    text-align: center;
    margin: 27px auto 0;
}

.dropdown {
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    border: none;
}

#product_img {
    width: 90px;
    height: 96px;
    object-fit: cover;
    margin-left: 5%;
    border-radius: 5px;
    margin-right: 17px;
}

.product_div1 {
    display: flex;
    background-color: #FFF8F3;
    width: 90%;
    margin: 19px auto 0;
    align-items: center;
    height: 121px;
    border: 10px;
    position: relative;
}

.prduct_div2 {
    color: #40200F;
    margin: 0 3%;
    position: relative;
}

.product_list {
    height: calc(90vh - 244px); /* 100% 높이에서 244px를 뺀 값 */
    overflow-y: auto; /* 스크롤을 가능하게 함 */
}

.empty_div {
    height: 20px;
}

#product_name {
    margin: 0;
    font-family: Pretendard-SemiBold;
    font-size: 17px;
}

#product_price {
    margin: 5px 0;
    font-family: Pretendard-SemiBold;
    font-size: 15px;
}

.prduct_div3 {
    display: flex;
}

.product_count {
    width: 30%;
    height: 25px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

#count_text {
    font-family: Pretendard-SemiBold;
    font-size: 13px;
    margin-left: 2px;
    align-content: center;
}

#check_btn {
    position: absolute;
    right: 15px;
    bottom: 7px;
}

#empty_text {
    text-align: center;
    font-size: 17px;
    font-family: 'Pretendard-Medium';
    margin-top: 40px;
}